body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  color: #333;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px white inset;
}

.map {
  -webkit-transform: translate3d(0, 0, 0) !important;
}

ul li {
  padding: 5px 0;
}

.skill-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.skill-stars .star {
  display: inline-block;
  margin-right: 10px;
  width: 12px;
  height: 12px;
  border-radius: 4px;
  background: #ccc;
  cursor: pointer;
}

.skill-stars .star.active,
.skill-stars .star.active ~ .star,
.skill-stars .star:hover,
.skill-stars .star:hover ~ .star {
  background: #e91e63;
}

.skills span {
  display: inline-block;
  width: 20px;
  height: 6px;
  background: #ccc;
}

.skills span:first-child {
  border-radius: 10px 0 0 10px;
}

.skills span:last-child {
  border-radius: 0 10px 10px 0;
}

.skills span.active {
  background: #e91e63;
  margin-left: -1px;
}

.skills span.active:first-child {
  margin-left: 0;
}

textarea {
  padding: 10px !important;
  border-radius: 6px;
}

textarea:disabled {
  background: #f1f1f1;
}

.active-filter {
  border: 1px solid #e91e63 !important;
}

.error {
  color: #ff0000;
}

.company-items > li {
  border-top: 1px solid #ccc;
}

.company-items > li:first-child {
  border-top: none;
}

[class^='MuiStepIcon-active'] {
  color: #607d8b !important;
}

.select :focus {
  background: transparent !important;
}

.ck.ck-toolbar {
  border: none !important;
  background: transparent !important;
}

.ck.ck-content {
  border-radius: 4px !important;
  min-height: 200px !important;
}

.ck.ck-content:focus,
.ck.ck-content:visited,
.ck.ck-content:active {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-color: #ccc !important;
}

.tech {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.tech svg path {
  fill: #607d8b !important;
}

.tech::after {
  left: 50px;
  content: '';
  top: 3px;
  background: rgba(255, 255, 255, 0.15);
  width: 111%;
  height: 150%;
  z-index: 999;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: left ease 150ms;
  transition: left ease 150ms;
}

.tech:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.tech:hover::after {
  left: 13px;
}

.tech.small {
  width: 25px;
  height: 25px;
}

.tech span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 999;
}

.tech.clicked + p {
  color: #121212;
}

.tech.clicked.js {
  background-image: -webkit-gradient(linear, right top, left top, from(#ffc706), to(#d49300));
  background-image: linear-gradient(to left, #ffc706 0%, #d49300 100%);
}

.tech.js span {
  font-size: 26px;
}

.tech.clicked.php {
  background-image: -webkit-gradient(linear, right top, left top, from(#00bcd4), to(#104c7b));
  background-image: linear-gradient(to left, #00bcd4 0%, #104c7b 100%);
}

.tech.php span {
  font-size: 28px;
}

.tech.clicked.html {
  background-image: -webkit-gradient(linear, right top, left top, from(#ff8100), to(#ec4513));
  background-image: linear-gradient(to left, #ff8100 0%, #ec4513 100%);
}

.tech.html span {
  font-size: 24px;
}

.tech.clicked.python {
  background-image: -webkit-gradient(linear, right top, left top, from(#2196f3), to(#0f454c));
  background-image: linear-gradient(to left, #2196f3 0%, #0f454c 100%);
}

.tech.python span {
  font-size: 24px;
}

.tech.clicked.ruby {
  background-image: -webkit-gradient(linear, right top, left top, from(#ff1308), to(#8e0d07));
  background-image: linear-gradient(to left, #ff1308 0%, #8e0d07 100%);
}

.tech.ruby span {
  font-size: 22px;
}

.tech.clicked.java {
  background-image: -webkit-gradient(linear, right top, left top, from(#ff1308), to(#8e0d07));
  background-image: linear-gradient(to left, #ff1308 0%, #8e0d07 100%);
}

.tech.java span {
  font-size: 28px;
}

.tech.clicked.net {
  background-image: -webkit-gradient(linear, right top, left top, from(#07e3ff), to(#00bcd4));
  background-image: linear-gradient(to left, #07e3ff 0%, #00bcd4 100%);
}

.tech.net span {
  font-size: 26px;
}

.tech.clicked.scala {
  background-image: -webkit-gradient(linear, right top, left top, from(#f36764), to(#b71e1c));
  background-image: linear-gradient(to left, #f36764 0%, #b71e1c 100%);
}

.tech.scala span {
  font-size: 24px;
}

.tech.clicked.c {
  background-image: -webkit-gradient(linear, right top, left top, from(#007cc6), to(#005298));
  background-image: linear-gradient(to left, #007cc6 0%, #005298 100%);
}

.tech.c span {
  font-size: 24px;
}

.tech.clicked.mobile {
  background-image: -webkit-gradient(linear, right top, left top, from(#e91e63), to(#6d0d2d));
  background-image: linear-gradient(to left, #e91e63 0%, #6d0d2d 100%);
}

.tech.mobile span {
  font-size: 24px;
}

.tech.clicked.testing {
  background-image: -webkit-gradient(linear, right top, left top, from(#4caf50), to(#146117));
  background-image: linear-gradient(to left, #4caf50 0%, #146117 100%);
}

.tech.testing span {
  font-size: 22px;
}

.tech.clicked.devops {
  background-image: -webkit-gradient(linear, right top, left top, from(#00bcd4), to(#104c7b));
  background-image: linear-gradient(to left, #00bcd4 0%, #104c7b 100%);
}

.tech.devops span {
  font-size: 22px;
}

.tech.clicked.ux {
  background-image: -webkit-gradient(linear, right top, left top, from(#9c27b0), to(#673ab7));
  background-image: linear-gradient(to left, #9c27b0 0%, #673ab7 100%);
}

.tech.ux span {
  font-size: 22px;
}

.tech.clicked.pm {
  background-image: -webkit-gradient(linear, right top, left top, from(#4adccf), to(#277365));
  background-image: linear-gradient(to left, #4adccf 0%, #277365 100%);
}

.tech.pm span {
  font-size: 22px;
}

.tech.clicked.game {
  background-image: -webkit-gradient(linear, right top, left top, from(#ff1062), to(#b32a58));
  background-image: linear-gradient(to left, #ff1062 0%, #b32a58 100%);
}

.tech.game span {
  font-size: 22px;
}

.tech.clicked.security {
  background-image: -webkit-gradient(linear, right top, left top, from(#a7dc51), to(#486b19));
  background-image: linear-gradient(to left, #a7dc51 0%, #486b19 100%);
}

.tech.security span {
  font-size: 24px;
}

.tech.clicked.data {
  background-image: -webkit-gradient(linear, right top, left top, from(#00dcff), to(#004550));
  background-image: linear-gradient(to left, #00dcff 0%, #004550 100%);
}

.tech.data span {
  font-size: 22px;
}

.tech.clicked.other {
  background-image: -webkit-gradient(linear, right top, left top, from(#de5bff), to(#610163));
  background-image: linear-gradient(to left, #de5bff 0%, #610163 100%);
}

.tech.other span {
  font-size: 24px;
}

.tech.xs-small,
.tech.small {
  width: 25px;
  height: 25px;
}

.tech.xs-small span,
.tech.small span {
  font-size: 18px;
}

.tech.clicked svg path {
  fill: #fff !important;
}

#mobileTechnology,
#mobileCity,
#mobileExperience {
  padding: 15px 20px;
  border-radius: 4px;
  font-size: 14px;
  background: #fff;
  color: #999;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.select-flex div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobileInfoBlock {
  padding: 10px 0;
}

.mobileInfoBlock .first-block {
  -webkit-box-flex: 1 !important;
  -ms-flex: 1 1 100% !important;
  flex: 1 1 100% !important;
}

.job-header {
  background: #fff;
}
